/* global STYLE */

@font-face {
    font-family:"Ultra";
    src: url(fonts/Ultra/Ultra-Regular.ttf);
}

@font-face {
    font-family:"DM Sans";
    src: url(fonts/DM_Sans/static/DMSans-Regular.ttf);
}

@font-face {
    font-family:"DM Serif Display";
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

:root {

    --primary-bg-color: #bda891;
    --secondary-bg-color: #f7f4ef;
    --tertiary-bg-color: #A61414;
    --main-font-color: #2D3142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--main-font-color);
}

header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

/*nav {
    display: inline-block;
}*/

.hamburger-icon {
    display: none;
    cursor: pointer;
    z-index: 90;
}

.hamburger {
    display: none;
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--main-font-color);
    margin: 6px 0;
    /*transition: .4s;*/
}

.hamburger .is-active, .hamburger:before {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.hamburger .is-active, .hamburger:after {
    transform: rotate(45deg) translate(-3px, -6px);
}

.hamburger {
    flex-shrink: 0;

}

ul {
    display: flex;
    /*position:fixed;
    inset: 0 0 0 100%;
    background-color: var(--secondary-bg-color);*/
    list-style-type: none;
    gap: 1em;
    /*flex-direction: column;*/
    justify-content: center;
    margin: 0;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-family: "DM Serif Display";
    font-size: 1.5em;
    color: var(--main-font-color);
    transition: all .4s;
}

li:last-of-type {
    color: var(--tertiary-bg-color);
}

li:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--tertiary-bg-color);
}

/*li:hover {
    transform: scale(1.3);
}*/

li:last-of-type:hover {
    color: var(--main-font-color);
}

.hamburger-icon {
    display: none;
}

header a {
    text-decoration: none;
    color: var(--tertiary-bg-color);
}


.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

p {
    font-family: "DM Sans";
}

@media (max-width: 800px) {
    /*ul {
        display: block;
        background-color: transparent;
        inset: 0;
        position: static;
    }*/

    ul {
        display: flex;
        position:fixed;
        inset: 0 0 0 100%;
        background-color: var(--secondary-bg-color);
        list-style-type: none;
        gap: 1em;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}