/* ----------GLOBAL STYLE---------- */

@font-face {
    font-family:"Ultra";
    src: url(fonts/Ultra/Ultra-Regular.ttf);
}

@font-face {
    font-family:"DM Sans";
    src: url(fonts/DM_Sans/static/DMSans-Regular.ttf);
}

@font-face {
    font-family:"DM Serif Display";
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

:root {

    --primary-bg-color: #bda891;
    --secondary-bg-color: #f7f4ef;
    --tertiary-bg-color: #A61414;
    --main-font-color: #2D3142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, label {
    font-family: "DM Sans";
}

body {
    background-color: var(--primary-bg-color);
    color: var(--main-font-color);
}

header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

header a {
    text-decoration: none;
    color: var(--tertiary-bg-color);
}

.logo {
    padding: 40px 10px;
}

/* ----------HAMBURGER STYLE---------- */

.hamburger-icon {
    display: none;
    cursor: pointer;
    height: 35px;
}

.hamburger-exit {
    display: none;
    cursor: pointer;
    z-index: 90;
}

.bar {
    display: block;
    width: 37px;
    height: 5px;
    margin: 5px auto;
    background-color: var(--main-font-color);
}

/* ----------NAV STYLE---------- */

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-family: "DM Serif Display";
    font-size: 1.5em;
    color: var(--main-font-color);
    transition: all .4s;
}

.nav-links li:last-of-type {
    color: var(--tertiary-bg-color);
}

.nav-links li:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--tertiary-bg-color);
}

.nav-links li:last-of-type:hover {
    color: var(--main-font-color);
}

/* .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
} */


/* ----------PROFILE STYLE---------- */


.profile-template-body {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.profile-container {
    position: sticky;
    height: 100vh;
    width: 300px;
    top: 0;
}

.profilemenu {
    height: 100%;
    background-color: var(--tertiary-bg-color);
}

.profilemenu ul {
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.profilemenu a {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

.profilemenu li {
    padding: 20px 20px;
}

.logOut button {
    background-color: transparent;
    border: none;
    color: var(--secondary-bg-color);
    font-family: "DM Serif Display";
    font-size: 1.5em;
    padding: 20px 20px;
    transition: all .4s;
}

.logOut button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* ----------SEARCH STYLE---------- */

.search-container {
    text-align: center;
}

.search-form {
    padding: 40px 10px;
}

.search-form input{
    width: 50vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-family: "DM Sans";
    padding-left: 10px;
}

.search-form button {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-bg-color);
    font-family: "DM Sans";
}


@media(max-width: 800px) {
    .nav-links ul {
        margin: 50px;
    }

    .nav-links li {
        margin: 30px;
    }

    .nav-links{
        display: none;
        position:fixed;
        left: 50%;
        top: 0;
        background-color: var(--secondary-bg-color);
        list-style-type: none;
        gap: 0;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 100px 10px;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .hamburger-icon.active {
        display: inline-block;
    }

    .hamburger-icon.inactive {
        display: none;
    }

    .hamburger-exit.active {
        display: inline-block;
    }

    .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
    
    .bar:nth-child(2) {
        opacity: 0;
    }

    .active {
        display: inline-block;
    }

    .nav-links.active{
        display: flex;
    }
}