/* ----------GLOBAL STYLE---------- */

@font-face {
    font-family:"Ultra";
    src: url(fonts/Ultra/Ultra-Regular.ttf);
}

@font-face {
    font-family:"DM Sans";
    src: url(fonts/DM_Sans/static/DMSans-Regular.ttf);
}

@font-face {
    font-family:"DM Serif Display";
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

:root {

    --primary-bg-color: #bda891;
    --secondary-bg-color: #f7f4ef;
    --tertiary-bg-color: #A61414;
    --main-font-color: #2D3142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--main-font-color);
}

header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

/* ----------HAMBURGER STYLE---------- */

.hamburger-icon {
    display: none;
    cursor: pointer;
    /*z-index: 90;*/
    height: 35px;
}

.hamburger-exit {
    display: none;
    cursor: pointer;
    z-index: 90;
    /* position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none; */
}

.bar {
    display: block;
    width: 37px;
    height: 5px;
    margin: 5px auto;
    background-color: var(--main-font-color);
}

/* .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.bar:nth-child(2) {
    opacity: 0;
} */
/*.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--main-font-color);
    margin: 6px 0;
    /*transition: .4s;*
}

.hamburger .is-active, .hamburger:before {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.hamburger .is-active, .hamburger:after {
    transform: rotate(45deg) translate(-3px, -6px);
}

.hamburger {
    flex-shrink: 0;

}*/

.nav-links ul {
    display: flex;
    /*position:fixed;
    inset: 0 0 0 100%;
    background-color: var(--secondary-bg-color);*/
    list-style-type: none;
    gap: 1em;
    /*flex-direction: column;*/
    justify-content: center;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-family: "DM Serif Display";
    font-size: 1.5em;
    color: var(--main-font-color);
    transition: all .4s;
}

.nav-links li:last-of-type {
    color: var(--tertiary-bg-color);
}

.nav-links li:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--tertiary-bg-color);
}

/*li:hover {
    transform: scale(1.3);
}*/

.nav-links li:last-of-type:hover {
    color: var(--main-font-color);
}

/*.hamburger-icon {
    display: none;
}*/

header a {
    text-decoration: none;
    color: var(--tertiary-bg-color);
}


.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

p, label {
    font-family: "DM Sans";
}


.profile-template-body {
    display: flex;
    align-items: start;
    /* background-color: var(--tertiary-bg-color); */
    gap: 5rem;
    /*grid-template-rows: 300px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr;*/
}

.profile-container {
    /*display: inline-block;
    width: 20vw;
    height: 100vh;*/
    /*grid-row-start: 1;
    grid-column-start: 1;*/
    position: sticky;
    height: 100vh;
    /* width: 300px; */
    top: 0;
}

/* .logo {
    padding: 10px 5%;

} */

.profilemenu {
    /*grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;*/
    height: 100%;
    background-color: var(--tertiary-bg-color);
}

.profilemenu ul {
    display: flex;
    justify-content: center;
    flex-direction:column;
    /*padding: 20px 0;*/
}

.profilemenu a {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

.profilemenu li {
    padding: 20px 20px;
}

/*.profilemenu li:first-of-type {
    padding-top: 40px;
}*/

.logOut button {
    background-color: transparent;
    border: none;
    color: var(--secondary-bg-color);
    font-family: "DM Serif Display";
    font-size: 1.5em;
    padding: 20px 20px;
    transition: all .4s;
}

.logOut button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.logo {
    padding: 40px 10px;
}

.search-form {
    padding: 40px 10px;
}

.search-form input{
    width: 50vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-family: "DM Sans";
    padding-left: 10px;
}

.search-form button {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-bg-color);
    font-family: "DM Sans";
}


@media(max-width: 800px) {
    /* ul {
        display: block;
        background-color: transparent;
        inset: 0;
        position: static;
    } */

    .nav-links ul {
        /*display: flex;
        position:fixed;
        background-color: var(--secondary-bg-color);
        /*list-style-type: none;
        gap: 1em;
        flex-direction: column;
        justify-content: center;
        margin: 0;*/
        margin: 50px;
    }

    .nav-links li {
        /*display: flex;
        position:fixed;
        background-color: var(--secondary-bg-color);
        /*list-style-type: none;
        gap: 1em;
        flex-direction: column;
        justify-content: center;
        margin: 0;*/
        margin: 30px;
    }

    .nav-links{
        display: none;
        position:fixed;
        left: 50%;
        top: 0;
        background-color: var(--secondary-bg-color);
        list-style-type: none;
        gap: 0;
        flex-direction: column;
        width: 50%;
        height: 100%;
        /*justify-content: center;
        margin: 0;*/
        padding: 100px 10px;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .hamburger-icon.active {
        display: inline-block;
    }

    .hamburger-icon.inactive {
        display: none;
    }

    .hamburger-exit.active {
        display: inline-block;
    }

    .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
    
    .bar:nth-child(2) {
        opacity: 0;
    }

    .active {
        display: inline-block;
    }

    .nav-links.active{
        display: flex;
    }
}