.main-info {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--secondary-bg-color);
    width: 70vw;
    height: 75vh;
    margin: 0 auto;
    border-radius: 90px;
    padding: 5%;
    
}

.main-info h1 {
    font-family:"Ultra";
    color: var(--tertiary-bg-color);
    font-size: 2.6em;
}


.main-info button {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--tertiary-bg-color);
    border: none;
    color: var(--secondary-bg-color);
    height: 40px;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    font-family: "DM Serif Display";
}

.main-info p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 20px 0;
    color: var(--main-font-color);
}

.main-info img {
    margin-left: 100px;
    grid-row-start:1;
    grid-row-end: 3;
    grid-column-start: 4;
}

.main-info a {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

@media (max-width: 850px) {
    .main-info h1 {
        text-align: center;
        font-size: 2.2rem;
        grid-row-start: 2;
        grid-row-end:3;
        padding: 0;
    }
    .main-info {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      flex-direction: column;
      align-items:center;
    }

    .main-info p {
        text-align: justify;
        grid-row-start: 3;
        grid-row-end:4;
    }

    .main-info img {
        width: 23%;
        margin: 0;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end:2;
    }

    .main-info button {
        grid-row-start: 4;
        grid-row-end:5;
    }
  }