/*.liked-recommend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* width: 80%; */
    /* justify-content: center;
    align-items: center; 
}*/

/* .liked-recommended-container {
    margin-right: 20px;
} */

.recommended-recipes {
    display: grid;
    grid-template-columns: repeat(3, 22.5rem);;
    gap: 2rem;

}

.liked-recommend-buttons{
    display: flex;
    justify-content: space-between;
    font-family: "DM Sans";
    margin: 3rem 3.3rem 3rem 0;
    padding: 0 2rem;
}

.recommend-button:hover, .liked-button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.recommend-button {
width: 30rem;
height: 3rem;
border-radius: 5px;
color: var(--secondary-bg-color);
background-color: var(--main-font-color);
border: 1px solid black;
transition: 150ms ease-in-out;
}

.liked-button {
width: 30rem;
height: 3rem;
border-radius: 5px;
border: 1px solid black;
transition: 150ms ease-in-out;
}
.like-button{
    width: 2rem;
}

.fave-recipes {
    color: var(--secondary-bg-color);
    background-color: #81838e;
}

.rec-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 30rem;
    border-radius: 10px;
    transition: 150ms ease-in-out;

}
.rec-recipe:hover {
    cursor: pointer;
    box-shadow:  4px 6px 15px -5px;
    /* transform: scale(1.01); */
    transform:translateY(-1%) translateX(-0.5%);


}

.recipeName{
   text-align: center;
   padding: 0 .6rem;
   height: 3.1rem;
   margin: 1rem 0 0 .5rem;
}

.recipe-name {
    display: block;
    font-family: "DM Serif Display";
    font-size: 1.2em;
    text-decoration: none;
    color: var(--main-font-color);
    overflow: hidden;
}

.recipe-img {
    width: 20rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.recipe-ingredients {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow:hidden;
    /* width: 90%; */
    line-height: 2;
    text-align: center;
    padding: 0 2rem;
}

 .recipe-ingredients li{
    font-family: "DM Sans";
    /* color: var(--tertiary-bg-color); */
    list-style: none;
    display: inline-block;
    position: relative;
    color: #81838e;
    font-size: 13px;
}

.time{
    display: flex;
    align-items: center;
}
.timeImg {
    width: 1.1rem;
    margin: 0 1rem 0 0;
}




/* .recipe-info img:last-of-type {
    height: 25px;
    right: 150px;
    top: 5px;
} */

/*.recipe-ingredients a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-bg-color);
}

.recipe-ingredients .dropdown li {
    display: block;
}

.recipe-ingredients .dropdown {
    width: 100%;
    position: absolute;
    z-index: 99;
    display: none;
    background-color: var(--tertiary-bg-color);
}

.recipe-ingredients a:hover {
    cursor: pointer;
}

.recipe-ingredients li:hover .dropdown {
    display: block;
} */

.recipe-links {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    width: 20px;
}

/*.recipe-links img {
    height: 20px;
}

.recipe-link-container {
    display: inline-block;
}*/
#search{
    position: relative;
}
.search-output{
    position: absolute;
    background-color: white;
    width: 55.4rem;
    border-radius: 0 0 5px 5px;
}
.search-result-div:hover{
    cursor: pointer;
    font-weight: 600;
}
.search-output li{
    list-style-type: none;
    padding-left: 10px;
    margin: 10px 0;
}

.search-container{
    height: 100vh;
    overflow-y: scroll;
}
.favourite-recipes{
    color: blue;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0 0 .3rem 0;

}
radio {
    display: none;
}
  
  .star {
    cursor: pointer;
    font-size: 2rem;
    color: #ddd;
    margin-right: 5px;
}

.star:hover,
.star:hover ~ .star
/* input[type="radio"]:checked ~ label.star,
input[type="radio"]:checked ~ label.star ~ .star */
 {
    color: #fdd835;
}
.count-rating {
    font-size: 1rem;
}

.likeAndCal {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 13rem;
    margin-top: .5rem;
}
.calories {
    border: 1px solid gray;
    border-radius: 15px;
    padding: .3rem;
}
.liked, .liked path {
    fill: red;
    stroke: red;
}
.not-liked, .not-liked path {
    fill: white;
    stroke: black;
}
.like-button path:hover {
    stroke: red;
}