.profile-template-body {

    gap: 1rem;

}

.profile-container {

    position: sticky;

    top: 0;
}



.profilemenu {

    height: 100%;
    background-color: var(--primary-bg-color);
}

.profilemenu ul {
    display: flex;
    justify-content: center;
    flex-direction:column;
}



main {
    padding: 100px;
}

