.liked-recommend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liked-recommend-buttons button{
    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: "DM Sans";
}

.liked-recommend-buttons button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.recommend-button {
    margin-right: 10%;
    color: var(--secondary-bg-color);
    background-color: var(--main-font-color);
}

.liked-button {
    color: var(--main-font-color);
    background-color: var(--secondary-bg-color);
}

.recommended-recipes {
    display: grid;
    margin: 20px 0;
    width: 40%;
}

.rec-recipe {
    margin: 20px 0;
    text-align: center;
    background-color: #f2eee9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 90%;
    height: 370px;
}

.recipe-name {
    display: block;
    font-family: "DM Serif Display";
    font-size: 1.2em;
    text-decoration: none;
    color: var(--main-font-color);
}

.rec-recipe img:first-of-type {
    border-radius: 5px;
    width: 60%;
    margin-top: 10px;
}

.recipe-ingredients {
    /* background-color: var(--tertiary-bg-color); */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow:hidden;
    /* white-space: nowrap; */
    text-align: center;
    width: 100%;
    line-height: 2;
}

 .recipe-ingredients li{
    font-family: "DM Sans";
    /* color: var(--tertiary-bg-color); */
    list-style: none;
    display: inline-block;
    position: relative;
    color: #81838e;
    font-size: 13px;
}

/* .recipe-info {
    display: inline-block;
}

.recipe-info img {
    position: relative;
}*/

.time img {
    height: 25px;
    /* top: 15px;
    right: -150px; */
}

.like-button {
    height: 30px;
}

/* .recipe-info img:last-of-type {
    height: 25px;
    right: 150px;
    top: 5px;
} */ */

/*.recipe-ingredients a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-bg-color);
}

.recipe-ingredients .dropdown li {
    display: block;
}

.recipe-ingredients .dropdown {
    width: 100%;
    position: absolute;
    z-index: 99;
    display: none;
    background-color: var(--tertiary-bg-color);
}

.recipe-ingredients a:hover {
    cursor: pointer;
}

.recipe-ingredients li:hover .dropdown {
    display: block;
} */

.recipe-links {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    width: 20px;
}

/*.recipe-links img {
    height: 20px;
}

.recipe-link-container {
    display: inline-block;
}*/
.search-form{
    position: relative;
}
.search-output{
    position: absolute;
    background-color: white;
    width: 50vw;
}
.search-result-div:hover{
    cursor: pointer;
    font-weight: 600;
}
.search-output li{
    list-style-type: none;
    padding-left: 10px;
    margin: 5px 0 0 0;
}

.search-container{
    height: 100vh;
    overflow-y: scroll;
}
.favourite-recipes{
    color: blue;
}