.recipe-container {
    background-color: var(--secondary-bg-color);
    padding: 0;
}

.directions {
    padding: 20px 30px;
    width: 70%;
}

.directions li p {
    margin: 30px;
}

.directions h3 {
    font-size: 2rem;
    /*display: inline-block;*/
    text-align: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 80%;
}

.recipe-link-container {
    width: 100%;
}

.recipe-links {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.recipe-link-container img {
    width: 30px;
}

.recipe-link-container img:last-of-type {
    width: 25px;
}

.recipe-ingredients {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 50px;
}
.to-buy, .recipe-appliances{
    overflow: scroll;
    height: 150px;
    padding: 0 8px;
}
.to-buy p{
    display: flex;
    justify-content: space-between;
}

.to-buy-container, .in-kitchen-container {
    padding: 5px 0;
    background-color: var(--primary-bg-color);
    color: var(--main-font-color);
    border-radius: 10px;
    width: 100%;
}

.recipe-ingredients div h3 {
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    justify-content: space-between;
    width: 80%;
}

.tag {
    width: 100px;
    height: 40px;
    background-color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-bg-color);
}

h1 {
    margin: 20px;
}

.like-btn-container {
    position: relative;
}

.like-recipe {
    position: absolute;
    right: 300px;
    height: 40px;
}

.timer-recipe {
    position: absolute;
    height: 30px;
    top: 270px;
    right: 305px;
}

.star-recipe {
    position: absolute;
    height: 35px;
    top: 315px;
    right: 304px;

}
.liked {
    color: red;
}
.not-liked {
    color: green;
}
/* .rating {
    font-size: 3rem;
}
.star {
    cursor: pointer;
    color: white;
}
.star:hover ~  {
    cursor: pointer;
    color: red;
} */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

}
radio {
    display: none;
}
  
  .star {
    cursor: pointer;
    font-size: 2rem;
    color: #ddd;
    margin-right: 5px;
}

.star:hover,
.star:hover ~ .star
/* input[type="radio"]:checked ~ label.star,
input[type="radio"]:checked ~ label.star ~ .star */
 {
    color: #fdd835;
}
.count-rating {
    font-size: 1rem;
}