.recipe-container {
    background-color: var(--secondary-bg-color);
    padding: 0;
}

.directions {
    padding: 20px 30px;
    width: 70%;
}

.directions li p {
    margin: 30px;
}

.directions h3 {
    font-size: 2rem;
    text-align: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.recipe-link-container {
    width: 100%;
}

.recipe-links {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.recipe-link-container img {
    width: 30px;
}

.recipe-link-container img:last-of-type {
    width: 25px;
}

.recipe-ingredients {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 50px;
}
.to-buy, .recipe-appliances{
    overflow: scroll;
    height: 150px;
    padding: 0 12px;
}
.to-buy p{
    display: flex;
    justify-content: space-between;
}

.to-buy-container, .in-kitchen-container {
    padding: 5px 0;
    background-color: var(--primary-bg-color);
    color: var(--main-font-color);
    border-radius: 10px;
    width: 100%;
}

.recipe-ingredients div h3 {
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    width: 80%;
}

.tag {
    width: 100px;
    height: 40px;
    background-color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-bg-color);
}

h1 {
    margin: 20px;
}

.like-btn-container {
    position: relative;
}

.star-recipe {
    position: absolute;
    height: 35px;
    top: 315px;
    right: 304px;

}
.liked {
    color: red;
}
.not-liked {
    color: green;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

}
radio {
    display: none;
}
  
  .star {
    cursor: pointer;
    font-size: 2rem;
    color: #ddd;
    margin-right: 5px;
}

.star:hover,
.star:hover ~ .star
 {
    color: #fdd835;
}
.count-rating {
    font-size: 1rem;
}
.green {
    color: green;
}
.halfStar:hover,
.half:hover ~ .half .halfStar,
.half:hover ~ .half .full .fullStar,
.full:hover .fullStar
 {
    fill: #ffdf50;
    cursor: pointer;
}

.count-rating {
    font-size: 1rem;
}
.full {
    position: absolute;
    left: 0px;
    z-index: -1;

}
.half {
    position: relative;
    z-index: 2;
    margin-right: 18px;
}

.halfStar {
    width: 15px;
    height: 30px;
    fill: rgb(221,221,221);
}

.fullStar {
    width: 30px;
    height: 30px;
fill: rgb(221,221,221);
}

.halfStar path,
.fullStar path{
    stroke-width: 0;
}

.starFill
{
    fill: #fdd835;
}
.picAndButtons {
    display: flex;
    margin-left: 60px;
}
.info-btn-container {
    display: flex;
    flex-direction: column;
}
.time {
    margin-left: .22rem;
    display: flex;
    align-items: center;
}
.liked, .liked path {
    fill: #eb1111;
    stroke: #eb1111;
}
.not-liked, .not-liked path {
    fill: #F6F4EE;
    stroke: black;
}
.like-recipe:hover {
    transform: scale(1.1);
}
.like-recipe path:hover {
    stroke: #eb1111;
}
.favourite-recipe {
    transition: 150ms ease-in-out;
}
.favourite-recipe:hover {
cursor: pointer;
}