.container {
    width: 80vw;
    height: 80vh;
    /*border-top: 1px solid var(--main-font-color);*/
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

.form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: 400%;
    gap: 20vw;
}

.form-outer form .page {
    width: 80vw;
    transition: margin-left .3s ease-in-out;
}

.form-outer form .page1 .field:not(.nextBtn) {
    height: 45px;
    width: 330px;
}

.form-outer form .page1 .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*.form-outer button {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    text-transform: uppercase;
}*/

/*.container .progress-bar{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    }

.container .progress-bar .step{
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    height: 50px;
    width: 130px;
    text-align: center;
    /*border: 1px solid var(--main-font-color);
}

.progress-bar .step .bullet {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    font-size: 15px;
    /*line-height: 25px;
}

.progress-bar .step span {
    position:absolute;
    /*left: 50%;
}*/

.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px 25%;
    counter-reset: step;
}

.progress-bar::before {
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #e5dcd3;
}

.progress-step {
    width: 2rem;
    height: 2rem;
    background-color: #e5dcd3;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    z-index: 1;
    color: var(--main-font-color);
    font-family: "DM Serif Display";
}

/*.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + .75rem);
    color: var(--main-font-color);
    font-family: "DM Serif Display";
}*/

.progress-step-active {
    background-color: var(--tertiary-bg-color);
}


.page {
    padding: 0 30px;
}

.page1 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 130px 130px 100px;
    grid-template-columns: 1fr 1fr;
}
.page1 input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: "DM Sans";
    border-radius: 50px;
    padding: 5px;
}

h2 {
    margin: 10px;
}

.page1 h2, .page3 h2{
    /*margin: 10px;*/
    grid-column-start: 1;
    grid-column-end: 3;

}

/*.page1:nth-last-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}*/

.page1 .field:last-of-type, .page3 .field:last-of-type{
    justify-self: center;
    align-self: end;
    text-align: center;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.page1 button, .page3 button {
    height: 100%;
    width: 220px;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-bg-color);
    font-family: "DM Sans";
    /*margin: 20px 0;*/
}

.page button:hover, #submit {
    cursor: pointer;
}

.page2 .field:not(.btns), .page3 .field:not(.btns){
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*margin-top: 20px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;*/
}

.page2 img, .page3 img {
    height: 50px;
}

.page2 div {
    display: inline-block;
}

.page2{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 130px 130px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page2 h2{
    /*margin: 10px;*/
    grid-column-start: 1;
    grid-column-end: 5;

}

.page2 .btns {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    height: 45px;
    width: 100%;
    justify-self: center;
    align-self: end;
    text-align: center;
}

.page3 .btns {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    height: 45px;
    width: 100%;
    justify-self: center;
    align-self: end;
    text-align: center;
}

/*.page2 .field:last-of-type{
    height: 45px;
    width: 100%;
    justify-self: center;
    align-self: end;
    text-align: center;
}*/

.page2 button, #submit {
    height: 100%;
    width: 220px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    /*background-color: var(--tertiary-bg-color);*/
    color: var(--secondary-bg-color);
    font-family: "DM Sans";
    /*margin: 20px 0;*/
}

.page2 button:first-of-type, .page3 button:first-of-type {
    background-color: var(--main-font-color);
    /*margin: 20px 0;*/
}

.page2 button:last-of-type, #submit {
    background-color: var(--tertiary-bg-color);
    /*margin: 20px 0;*/
}

.page3 {
    margin-top: 20px;
    height: 70vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 130px 130px 100px;
    grid-template-columns: 1fr 1fr;
}

/*.active-pass {
    transform: translateX(-500px);
}*/

@media(max-width: 950px) {

    .page1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page1 .field:last-of-type {
        align-self: center;
    }
    .form-outer form .page1 .field {
        margin: 20px 0;
    }

    .page2 {
        grid-template-rows: 50px 120px 120px 120px 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .page2 h2{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .page2 .field:not(.btns) {
        height: 110px;
    }

    .page2 .btns, .page3 .btns {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        height: 45px;
        width: 100%;
        justify-self: center;
        align-self: end;
        text-align: center;
    }

    .page2 button, .page3 button, #submit {
        width: 42%;
    }
}