.container {
    width: 80vw;
    /*border-top: 1px solid var(--main-font-color);*/
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

.form-outer {
    width: 100%;
    /*overflow: hidden;*/
}

.form-outer form {
    display: flex;
    width: 400%;
    gap: 20vw;
}

.form-outer form .page {
    width: 80vw;
    transition: margin-left .3s ease-in-out;
}

.form-outer form .page1 .field {
    height: 45px;
    width: 330px;
    margin: 45px 0;
}

.form-outer form .page1 .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*.form-outer button {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    text-transform: uppercase;
}*/

/*.container .progress-bar{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    }

.container .progress-bar .step{
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    height: 50px;
    width: 130px;
    text-align: center;
    /*border: 1px solid var(--main-font-color);
}

.progress-bar .step .bullet {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    font-size: 15px;
    /*line-height: 25px;
}

.progress-bar .step span {
    position:absolute;
    /*left: 50%;
}*/

.page1 input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: "DM Sans";
    border-radius: 50px;
}

.page2 {
    margin-top: 20px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page2 img, .page3 img {
    height: 90px;
}

.page2 div {
    display: inline-block;
}

.page3 {
    margin-top: 20px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*.active-pass {
    transform: translateX(-500px);
}*/
